<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Addresses search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<h1>{{ page_title }}</h1>
<div class="container">
    <form class="row g-3" method="POST" action="/addresses/search">
        <div class="col-auto">
            <label for="address" class="form-label">Введите адрес города Москвы</label>
            <input type="text" name="address" class="form-control" id="address" value="">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Отправить</button>
        </div>
    </form>
</div>
{% if addresses|length > 0 %}
    <p>There</p>
    <ul>
        {% for address in addresses %}
            <li>{{ address }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>